
/* forms */
/*input[type=text], select {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #2e302d;
  color: white;
  padding: 14px 20px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #458ba0;
}


.design {
  margin: 10px 70px 70px;
  background-color: #f2f2f2;
  padding: 8px;
}*/
/* forms */

input[type=text], select {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit] {
  width: fit-content;
  color: white;
  padding: 14px 20px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #77c071;
}

.submit {
  width: 100%;
  background-color: #458ba0;
  color: white;
  padding: 14px 20px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 70px;
}

input[type=reset] {
  width: fit-content;
  background-color: #e6111b;
  color: white;
  padding: 14px 20px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: #a0455c;
}


.design {
  margin: 10px 70px 70px;
  background-color: #f2f2f2;
  padding: 8px;
}

.button-delete {
 
  background-color: #458ba0;
  color: white;
  padding: 14px 20px;
  margin: 4px 0;
  border: none;
  margin: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.form-wrapper{
margin: center;
padding: 80px;
}

.container {
  width: 300px; /* Ajustez la largeur selon vos besoins */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type=Sauthentifier] {
  width: 100%;
  padding: 14px 20px;
  margin: 15px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}